.page-container3 {
  position: relative;
  background-image: url("../img/cat-bg.png");
  background-position: right top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 60%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    @media only screen and (max-width: 768px) {
      margin-left: 100px;
    }
  }
}
#product-list {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin: 0px;
  width: 100%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 1;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

#product-list li {
  list-style: block;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

#product-list li:hover {
  background-color: #555;
}

body {
  margin: 0;
  padding: 0;
}

body.light-mode {
  background-color: #f5f5f5;
  color: #333;
}

body.dark-mode {
  background-color: #333;
  color: #f5f5f5;
}

.round-button {
  background-color: #333;
  color: #f5f5f5;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}

.center-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper {
  width: 570px;
  height: 600px;
}

#product-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#product-list li {
  margin: 5px 0;
}

#product-list a {
  text-decoration: none;
  color: #ffffff;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: 100%;
  max-width: 250px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 12px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  flex: 1;
  margin: 10px;

  img {
    max-width: 100%;
    height: auto;
  }

  h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 10px 0;
  }

  .price {
    font-size: 1.2rem;
    color: #f00;
    margin: 10px 0;
  }

  p {
    font-size: 1rem;
    color: #777;
    margin: 10px 0;
  }

  .agregar-carrito {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}

.cart {
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  background-color: #f9f9f9;
  float: right;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  h2 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
    color: #000000;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #000000;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
  }

  .total-price {
    font-weight: bold;
    text-align: right;
    margin-top: 10px;

    span {
      color: #ff5733;
    }
  }
}

#comprar-btn,
#vaciar-carrito-btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#comprar-btn:hover,
#vaciar-carrito-btn:hover {
  background-color: #2e86c1;
}

#comprar-btn {
  background-color: #27ae60;
}

#comprar-btn:hover {
  background-color: #219d50;
}

#vaciar-carrito-btn {
  background-color: #e74c3c;
}

#vaciar-carrito-btn:hover {
  background-color: #d62c1f;
}

#modal {
  display: none;
  height: 440px;
  width: 440px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  width: 300px;
  max-width: 100%;
  text-align: center;

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  h2 {
    margin-bottom: 15px;
    color: #000000;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 5px;
    }

    input,
    select,
    textarea {
      margin-bottom: 15px;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
    }

    button {
      background-color: #4caf50;
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
      font-size: 16px;
    }
  }
}
@media only screen and (min-width: 768px) {
  // Aplicar estilos específicos para pantallas más grandes (tabletas, computadoras, etc.)
  #product-list {
    max-width: none; // Restablecer el ancho máximo para pantallas más grandes
    width: auto; // Cambiado a "auto"
  }

  .product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .product-card {
    width: calc(48% - 20px); // Ajustar el ancho de las cards y agregar un margen
    margin: 10px; // Añadido margen para separar visualmente las cards
  }
}
@media only screen and (max-width: 768px) {
  // Aplicar estilos específicos para pantallas más grandes (tabletas, computadoras, etc.)
  #product-list {
    max-width: none; // Restablecer el ancho máximo para pantallas más grandes
    width: auto; // Cambiado a "auto"
  }

  .product-cards {
    margin-left: 100px; // Ancho de la barra lateral + margen (ajusta según sea necesario)
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .product-card {
    width: calc(48% - 20px); // Ajustar el ancho de las cards y agregar un margen
    margin: 10px; // Añadido margen para separar visualmente las cards
  }
  .cart{
    margin-left:50px;
    margin-right: 70px;
  }
  
}