.main-footer {
    background-color: #2e2d2d;
    color: white;
    text-align: center;
    padding: 10px;
    a {
        color: #007bff;
        text-decoration: none;
        transition: color 0.3s ease;
        &:hover {
            color: #0056b3;
        }
    }
}

.social-media {
    margin-top: 20px;
    a {
        display: inline-block;
        margin: 0 10px;
        color: white;
        font-size: 24px;
        transition: color 0.3s ease;
        &:hover {
            color: #007bff;
        }
    }
}
