.socios-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }

    .login-section,
    .register-section {
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      width: 300px;
      margin-bottom: 15px;
      margin: 0 10px;
      }
  
      h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333;
        }

      form {
        display: flex;
        flex-direction: column;
  
        label {
          font-size: 14px;
          margin-bottom: 5px;
          color: #666;
        }
  
        input {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          margin-bottom: 15px;
          font-size: 14px;
        }
  
        button {
          background-color: #007bff;
          color: white;
          padding: 10px;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #0056b3;
          }
        }
      }
    
  
    .logo {
      display: flex;
      align-items: center;

  
      img {
        max-width: 336px;
        height: auto;
        margin-right: 20px;
        margin-left:-15px;
      }
    }
    .login-section{
      height: 374.8px;
      margin: 70px;

       button {
        background-color: #007bff;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin:0;
        

        &:hover {
          background-color: #0056b3;
        }
      }
    }
@media (max-width: 768px) {
  .socios-main {
    flex-direction: column; 
    align-items: center; 
    
    .login-section,
    .logo,
    .register-section {
      width: 100%; 
      max-width: 300px;
      margin: 10px 0;
    }
    
    .logo {
      order: 0; 
    }
  }
}

  