header {
    --bs-navbar-color: rgba(46, 213, 240, 0.55);
--bs-navbar-hover-color: rgba(255, 235, 235, 0.75);
--bs-navbar-disabled-color: rgba(100, 95, 95, 0.25);
--bs-navbar-active-color: #ff3131;
--bs-navbar-brand-color: #fff;
--bs-navbar-brand-hover-color: #fff;
--bs-navbar-toggler-border-color: rgba(169, 230, 0, 0.04)
}