@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Titillium Web", sans-serif;
}

header {
  position: relative;
  background-color: #343a40;
  transition: background-color 0.3s ease;
}
header .navbar-brand img {
  max-width: 100%;
  height: auto;
  transform-origin: left center;
  animation: slideIn 0.5s ease-in-out;
}
header .navbar-nav .nav-link {
  color: white;
  transition: color 0.3s ease;
}
header .navbar-nav .nav-link:hover {
  color: #007bff;
}
header .logo img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
header .logo img:hover {
  transform: scale(1.1);
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(1);
  }
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #949393;
}
.flex-container .slogan {
  flex: 1;
  padding: 20px;
  text-align: center;
  display: table-column;
}
.flex-container .slogan .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #020325;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.flex-container .slogan .button:hover {
  background-color: #0a0225;
}
.flex-container .logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container .logo img {
  max-width: 70%;
  height: auto;
  width: auto\9 ;
  transition: transform 0.6s ease;
}
.flex-container .logo img:hover {
  transform: rotateY(360deg);
}

.slogan {
  animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: rgba(78, 78, 78, 0);
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

.grid-item {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.image img,
.matches-image img {
  max-width: 100%;
  height: auto;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #539ee9;
}
.text p {
  font-size: 18px;
  line-height: 1.6;
}

.next-matches {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.next-matches h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #539ee9;
}
.next-matches p {
  font-size: 18px;
  line-height: 1.6;
}

.socios-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-section,
.register-section {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-bottom: 15px;
  margin: 0 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}
form label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #666;
}
form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}
form button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
form button:hover {
  background-color: #0056b3;
}

.divider {
  border-left: 1px solid #ccc;
  height: 80%;
  margin: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  max-width: 224px;
  height: auto;
  margin-right: 10px;
  transition: transform 0.6s ease;
}
.logo img:hover {
  transform: rotateY(360deg);
}
.logo .divider {
  border-left: 1px solid #ccc;
  height: 60px;
  margin: 0 20px;
}

@media (max-width: 768px) {
  .socios-main {
    flex-direction: column;
    align-items: center;
  }
  .socios-main .login-section,
  .socios-main .logo,
  .socios-main .register-section {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
  .socios-main .logo {
    order: 0;
  }
}
.grid-itempp {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-itempp img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}
.grid-itempp h3 {
  font-size: 18px;
  color: #539ee9;
}

.main-content2 {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.main-content2 h2 {
  font-size: 28px;
  color: #539ee9;
  margin-bottom: 15px;
}
.main-content2 p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}
.main-content2 .temperley-logo {
  margin-top: 30px;
}
.main-content2 .temperley-logo img {
  max-width: 230px;
  height: auto;
  transition: transform 0.6s ease;
}
.main-content2 .temperley-logo img:hover {
  transform: rotateY(360deg);
}

#imageCarousel {
  margin-top: 20px;
  max-width: 100%;
}
#imageCarousel .carousel-inner img {
  width: 100%;
  height: auto;
}
#imageCarousel .carousel-control-prev, #imageCarousel .carousel-control-next {
  width: auto;
  padding: 5px;
  border-radius: 50%;
}
#imageCarousel .carousel-control-prev span, #imageCarousel .carousel-control-next span {
  font-size: 1rem;
  color: white;
}

.container {
  padding: 20px;
  text-align: center;
}
.container h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #539ee9;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #539ee9;
  }
  #imageCarousel {
    margin-top: 20px;
    max-width: 100%;
  }
  #imageCarousel .carousel-inner img {
    width: 100%;
    height: auto;
  }
  #imageCarousel .carousel-control-prev, #imageCarousel .carousel-control-next {
    background-color: transparent;
    width: auto;
    padding: 5px;
    border-radius: 50%;
  }
  #imageCarousel .carousel-control-prev span, #imageCarousel .carousel-control-next span {
    font-size: 1rem;
    color: white;
  }
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
}

.main-footer {
  background-color: #4e4e4e;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.fa-facebook {
  background-color: #333;
}

.fa-instagram {
  background-color: #333;
}

.fa-whatsapp {
  background-color: #333;
}

.pie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}
.pie .iconos {
  display: flex;
  gap: 10px;
}
.pie .iconos a {
  color: white;
  text-decoration: none;
}
.pie .iconos a i {
  font-size: 24px;
}
.pie p {
  margin: 0;
}/*# sourceMappingURL=estilo.css.map */