@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}

header {
  position: relative;
  background-color: #343a40;
  transition: background-color 0.3s ease;
}
header .navbar-brand img {
  max-width: 100%;
  height: auto;
  transform-origin: left center;
  animation: slideIn 0.5s ease-in-out;
}
header .navbar-nav .nav-link {
  color: white;
  transition: color 0.3s ease;
}
header .navbar-nav .nav-link:hover {
  color: #007bff;
}
header .logo img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
header .logo img:hover {
  transform: scale(1.1);
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(1);
  }
}
.flex-container {
  display: flex;
  align-items: center;
  background-color: #949393;
  padding: 20px;
}
.flex-container .slogan {
  flex: 1;
  padding: 20px;
  color: white;
}
.flex-container .slogan h1 {
  font-size: 75px;
}
.flex-container .slogan h2 {
  font-size: 35px;
}
.flex-container .slogan .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #020325;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  margin-left: 375px;
  margin-top: 30px;
}
.flex-container .slogan .button:hover {
  background-color: #0a0225;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.flex-container .logo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
}
.flex-container .logo img {
  max-width: 100%;
  height: auto;
  transition: transform 0.6s ease;
}
.flex-container .logo img:hover {
  transform: rotateY(360deg);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: rgba(78, 78, 78, 0);
}
.grid-container .grid-item {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.grid-container .grid-item .matches-image img {
  max-width: 100%;
  height: auto;
}
.grid-container body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.grid-container #logo {
  max-width: 15%;
  margin: 20px auto;
}
.grid-container .login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.grid-container .bodyprensa {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.grid-container .main-content2 {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}
.grid-container .main-content2 h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #007bff;
}
.grid-container .main-content2 p {
  font-size: 18px;
  line-height: 1.6;
}
.grid-container .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}
.grid-container .grid-container .grid-itempp {
  text-align: center;
}
.grid-container .grid-container .grid-itempp img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}
.grid-container .grid-container .grid-itempp h3 {
  font-size: 18px;
  color: #007bff;
}
@media (max-width: 768px) {
  .grid-container .grid-container .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

.main-footer {
  background-color: #2e2d2d;
  color: white;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-footer p {
  margin: 0;
}/*# sourceMappingURL=estilo.css.map */